
<div id="indexHeadContainer">
    <h3 id="indexHeader">Welcome to upnext! 
        <br>
        Browse upcoming releases, Search the sneaker database, and post your fits!
    </h3>
</div>

<video autoplay muted loop id="indexVideo">
    <source src="../assets/video-bg.mp4" type="video/mp4">
</video>

<div class="indexTitle">
    <h1 id="releasing">Releasing This Month</h1>
</div>

<div class="indexGrid">
    <% data.slice(1).forEach(s => { %>
        <% if(s.img )  { %> 
        <div id="indexContainer">
            <img id="indexImg" src="<%= s.img%>" alt="<% s.name%>">
            <h5 id="indexSneakerName"><%= s.name %></h5>
            <div id="indexInfo">
                <p>Release Date: <%= s.date %> </p>
                <p>Price: <%= s.price %> </p>
                <p><%= s.size %></p>
            </div>
        </div>
        <% } %> 
    <% }) %> 
</div>