

<!-- Displays the results of the shoe search. -->
    <% products.forEach(s => { %> 
        <div id="shoeDetails">
            <h2 class="detail"><%= s.shoeName %></h2>

            <form method="POST" action="/profile/:id">
                <input hidden type="text" name="id" value="<%=s.styleID%>">
                <input  hidden type="text" name="thumbnail" value="<%= s.thumbnail%>">
                <input  hidden type="text" name="shoeName" value="<%= s.shoeName%>">
                <button type="submit">Add to favorites</button>
            </form>
            <br>

            <img class="detailImg" src="<%= s.thumbnail %>" alt="<%= s.shoeName%>"> 
            <h4 id="releaseDate">Released: <%= s.releaseDate%></h4>
            <h4 id="retailPrice">Retail Price: $<%= s.retailPrice%></h4>
            <h4 id="shoeDescription">About: 
                <br>
                <%= s.description%>
            </h4>
            <h4>View on: </h4>
                <div id="resellers">
                    <a href="<%= s.resellLinks.stockX%>" target="_blank">
                        <img id="stockX" src="../../assets/stockx.png" alt="stockX">
                    </a>
                    <a href="<%= s.resellLinks.goat%>" target="_blank">
                        <img id="goat" src="../../assets/goat.png" alt="goat">
                    </a>
                </div>
            <br>
            <hr>
            <a href="/discover">Back to Discover</a>
            <!-- <h4 id="resellLinks"><%#= s.resellLinks%></h4> -->
        </div>
    <% }) %> 